.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 28px;
  text-align: center;
}

.loginRegisterButton {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #057d7a;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.loginRegisterButton:hover {
  background-color: #2fadaa;
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.logoContainer {
  height: 20rem;
}
