/* Styles moved from styled-components in Login.jsx */
.errorText {
  color: crimson;
  font-style: italic;
  margin: 0;
  font-size: 14px;
  
}

.successText {
  color: green;
  text-align: centerq
  ;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap:2rem
}

.loginRegisterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.submitButton {
  cursor: pointer;
  padding: 10px 30px;
  background-color: #057d7a;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-top: 40px;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  text-align: center;
  border: none;
}

.submitButton:hover {
  background-color: #2fadaa;
  transform: translateY(-3px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 22px;
}

.formWrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  gap: 10px;
}

.styledInput {
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 5px 0px;
}

.styledInput:focus {
  outline: none;
}

.requiredText {
  font-style: italic;
}
