.userContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoContainer {
  height: 20rem;
}

.title {
  font-size: 22px;
}

.text {
  font-size: 18px;
}
